<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>


	{{{ body }}}
	

	<script src="assets/js/jquery-3.2.1.js"></script>
	<script src="assets/js/validation.js"></script>
	<script src="assets/js/functions.js"></script>
	<script src="assets/js/eventListeners.js"></script>
  	<script src="assets/js/bundle.js"></script>
</body>
</html>
